#about-section{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 0 ;
    height: 150vh;
    margin-bottom: 100vh;
    overflow: initial;
}

#about{
    position: absolute;
    top: 10px;
    left: 0;
}


#about-section .sticky-container{
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#about-section .content-container{
    width: clamp(300px, 60%, 1000px);
}

#about-section .about-title{
    font-size: 50px;
    line-height: 56px;
    font-family: 'Akira';
    margin-bottom: 20px;
    text-align: center;
}

#about-section .about-title span{
    font-family: 'Akira';
    color: #d7350d;
}

#about-section .content{
    text-align: center;
    line-height: 200%;
    font-size: 18px;
}

@media only screen and   (max-width : 600px) {
    #about-section .content-container{
        width: 100%;
        max-width: 600px;
    }
    #about-section .test-container{
        position: sticky;
        top: 100px;
        /* transform: translateY(-50%); */
        transform: none;
        width: 100%;
    }
}