#faq{
    background : rgb(19 19 19 / 95%);
    min-height: initial;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    overflow: hidden;
    padding-top: 10vh;
    z-index: 10;
    /* padding-bottom: 10vh; */
    min-height: 100vh;
    /* transform: skew(10deg); */
}

.faq-title{
    font-size: 40px;
    line-height: 46px;
    font-family: 'Akira';
    margin-bottom: 80px;
}

.faq-container{
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 60px;
    flex-wrap: wrap;
}

.faq-img-container{
    flex: 1;
    min-width: 300px;
}

.faq-img{
    width: 100%;
    border-radius: var(--b-radius);
    clip-path: polygon(0 0, 99% 0, 100% 100%, 0 100%);
}

.question-container{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 300px;
}


.question{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0%;
    left: 0;
    background: #111111;
    border-radius: var(--b-radius);
    overflow: hidden;
    max-height: 60px;
    transition: .3s ease;
    
}


.faq-title-container{
    min-height: 60px;
    padding: 10px 20px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.question-title{

    font-family: "Akira";
    font-size: 20px;
}


.arrow-container{
    margin-left: 20px;
    position: relative;
    cursor: pointer;
    width: 26px;
    height: 26px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease;

}

.arrow-container span{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(calc(-50% - 4px));
    height: 2px;
    background-color: #D7340D;
    transition: .6s ease;
}

.arrow-container span:nth-child(1){
    transform: translateY(calc(-50% + 4px));
}


.isOpen .arrow-container span{
    transform: translateY(calc(-50%));
}



.answer{
    padding: 10px 20px;
    color: #b4b4b4;;
}

.answer a{
    position: relative;
    font-weight: bold;
    color: #b4b4b4;;
}

.answer a:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background: #b4b4b4;;
}



@media only screen and   (max-width : 900px) {

    .faq-title{
        margin-bottom: 40px;
    }
    .question-title{

        font-family: "Akira";
        font-size: 14px;
    }

    #faq{
        padding-bottom: 10vh;
    }
    
}