#join-discord{
    background: #090909;
    margin: 0;
    height: initial;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.discord-container{
    border: 4px solid #D7340D;
    width: clamp(200px, 40%, 600px);
    height: clamp(60px, 10vh, 120px);
    font-size: 40px;
    font-family: 'Akira';
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    color: #D7340D;
}