#join-discord{
    background : rgb(19 19 19 / 95%);
    min-height: initial;
    margin: 0;
    height: initial;
    padding-top: 100px;
    padding-bottom: 20vh;
}

.discord-container{
    width: clamp(200px, 80%, 600px);
    height: clamp(60px, 10vh, 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    position: relative;
    background-color: #090909;
}

.discord-container span{
    font-size: 40px;
    font-family: 'Akira';
    color: #D7340D;
    transition: .3s ease .2s;
}

.join-discord-border{
    position: absolute;
    top :50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 4px * 2);
    height: calc(100% + 4px * 2);
    background: #D7340D;
    z-index: -2;
}

.join-discord-border::after{
    content: '';
    position: absolute;
    top :50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 100%;
    background: white;
    z-index: -1;
    transition: .3s ease;
}

.discord-container:hover .join-discord-border::after{
    width: 100%;
}

.discord-container:hover span{
    color : white;
}



@media only screen and   (max-width : 900px) {
    
    .discord-container span{
        font-size: 20px;
    }
    #join-discord{
        padding-top: 10vh;
    }
    
}