#roadmap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.roadmap-title{
    font-size: 40px;
    line-height: 46px;
    font-family: 'Akira';
    color: #d7350d;
    margin-bottom: 60px;
}

.phases-container{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
}

.phase-card{
    /* max-width: 400px; */
    flex: 1;
    background: rgba(29, 29, 29, 0.4);
    border-radius: var(--b-radius);
    backdrop-filter: blur(10px);
    padding:  20px;
    min-width: 300px;
}

.phase-title{
    font-size: 24px;
    line-height: 48px;
    font-family: 'Akira';
}

.phase-content{
    margin-bottom: 20px ;
    line-height: 150%;
    color: #bababa;
}

.phase-content:last-child{
    margin: 0;
}

.phase-content .phase-content-title{
    text-transform: uppercase;
    font-weight: 900;
    color: #d7350d;
}

.phase-content .phase-content-title-secondary{
    text-transform: uppercase;
    font-weight: 900;
    /* color: #d7350d; */
}