@font-face
{
    font-family: 'Akira';
    font-weight: normal;
    font-style: normal;
    src: url('../static/fonts/Akira-Expanded-Demo.otf');
}

@font-face
{
    font-family: 'BankPrinter';
    font-weight: normal;
    font-style: normal;
    src: url('../static/fonts/F25_Bank_Printer.ttf');
}
@import url('./styles/about.css');
@import url('./styles/home.css');
@import url('./styles/roadmap.css');
@import url('./styles/faq.css');
@import url('./styles/joinDiscord.css');
@import url('./styles/navbar.css');
@import url('./styles/others.css');
@import url('./styles/playToEarn.css');



*
{
    margin: 0;
    padding: 0;
    font-family: monospace,Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-weight: 300;
    color: white;
    background-color: none;
    text-decoration: none;
    list-style: none;
    border : none;
}

html{
    overflow-x: hidden;
}

html,
body
{
    background: black;
    scroll-behavior: smooth;
    /* cursor: none; */
}




